@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background-color: #1e5050;
}

ul {
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style: none;
}

a {
  color: #3cf;
  text-decoration: none;
  transition: all 0.3 ease;
}

p {
  line-height: 1.8;
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

#tm-video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1000;
}

.tm-video-wrapper {
  position: relative;
}

.tm-container {
  padding: 30px;
}

.tm-row {
  display: flex;
  justify-content: space-between;
}

.tm-left,
.tm-right {
  width: 50%;
}

.tm-left-inner {
  position: fixed;
}

.tm-site-header {
  background-color: 0 0 0;
  color: #099;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-logo {
  margin-right: 30px;
}

.time-site-name {
  font-size: 2.2rem;
  font-size: italic;
  max-width: 200px;
  max-height: 200px;
}

.tm-left-inner {
  max-width: 500px;
  width: 100%;
}

.tm-site-nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tm-page-nav-item {
  margin-top: 20px;
}

.tm-page-link {
  min-width: 240px;
  height: 100px;
  background-color: 0 0 0;
  color: #fe7ba3;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.2rem;
}

.tm-page-link:hover,
.tm-page-link.active {
  background-color: #fe7ba3;
  color: white;
}

.tm-page-link-icon {
  margin-right: 25px;
  margin-left: 25px;
  font-size: 1.5rem;
}

.tm-black-bg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.tm-aatwices-nav > ul > li {
  display: inline-block;
}

.tm-aatwices-nav > ul > li > a {
  color: white;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.tm-aatwices-nav {
  height: 80px;
}

.tm-main {
  max-width: 600px;
}

.tm-aatwices-nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.tm-aatwices-nav > ul > li a.active,
.tm-aatwices-nav > ul > li a:hover {
  color: white;
  border-bottom: 4px solid #fe7ba3;
}

.tm-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.tm-list-item-2 {
  align-items: flex-start;
}

.tm-list-item-img {
  margin-right: 20px;
  width: 160px;
  height: 160px;
  background: #099;
}

.tm-list-item-img-big {
  margin-right: 25px;
  width: 200px;
  height: 200px;
}

.tm-list-item-text {
  padding: 20px 25px;
  flex: 1;
}

.tm-list-item-text-2 {
  flex: 1;
}

.tm-list-item-name {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.tm-list-item-price {
  color: #96feff;
}

.tm-site-footer {
  margin-top: 15px;
}

.tm-footer-text {
  padding: 10px 20px 10px 20px;
  display: inline-block;
}

.tm-footer-link {
  color: white;
}
.tm-tab-content {
  animation: fadeEffect 1s;
}
.tm-page-content {
  animation: fadeEffect 1s;
}

.tm-text-primary {
  color: #fe7ba3;
}
.tm-mb-20 {
  margin-bottom: 20px;
}
.tm-mb-30 {
  margin-bottom: 30px;
}
.tm-img-right {
  margin-left: 30px;
  margin-right: 0;
}

@keyframes fadeEffect {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* EVENTS */
.tm-event-box-1 {
  padding: 40px 30px 50px 0;
}

.tm-event-box-2 {
  padding: 50px 40px 30px;
}

.tm-event-header {
  margin-left: 220px;
}

/* EVENTS */

/*FUNFACTS*/

.twice-funfacts {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -10px 0;
}

.tm-funfacts-title {
  font-size: 1rem;
  color: pink;
}

.tm-funfacts-title2 {
  font-size: 1.4rem;
  color: palevioletred;
}

.tm-funfacts-description {
  padding: 25px 30px;
}

/* aboutt */

/* end aboutt */

.tm-aboutt-text-container {
  padding: 45px 50px;
  margin-bottom: 20px;
}

.tm-aboutt-form-container {
  max-width: 460px;
  padding: 40px 50px;
  box-sizing: border-box;
}
.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  flex-basis: calc(50% - 10px);
  text-align: center;
  margin: 5px;
  box-sizing: border-box;
}

.gallery:first-child {
  flex: 0 0 100%;
}

.gallery:nth-child(2),
.gallery:nth-child(3) {
  flex-basis: calc(50% - 10px);
}

.gallery img {
  max-width: 70%;
  height: 70%;
}

.tm-form-group {
  margin-bottom: 25px;
}

.tm-form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-bottom: 1px solid white;
}

.tm-form-control::-webkit-input-placeholder {
  color: white;
}

/* Edge */

.tm-form-control:-ms-input-placeholder {
  color: white;
}

/* Internet Explorer 10-11 */
