@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background-color: #1e5050;
}

ul {
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style: none;
}

a {
  color: #3cf;
  text-decoration: none;
  transition: all 0.3s ease;
}

p {
  line-height: 1.8;
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

#tm-video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1000;
}

.tm-video-wrapper {
  position: relative;
}

#tm-video-control-button {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: black;
  color: white;
  padding: 10px;
}

.tm-container {
  padding: 30px;
}

.tm-row {
  display: flex;
  justify-content: space-between;
}

.tm-left {
  width: 50%;
}

.tm-right {
  width: 50%;
}

.tm-left-inner {
  position: fixed;
}

.tm-site-header {
  background-color: 0 0 0;
  color: #099;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-logo {
  margin-right: 30px;
}

.tm-site-name {
  font-size: 2.2rem;
  font-style: italic;
  max-width: 200px;
  max-height: 200px;
}

.tm-left-inner {
  max-width: 500px;
  width: 100%;
}

.tm-site-nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tm-page-nav-item {
  margin-top: 20px;
}

.tm-page-link {
  min-width: 240px;
  height: 100px;
  background-color: 0 0 0;
  color: #fe7ba3;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.2rem;
}
